<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tourassistant.coderoids">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".home.TripPhotosActivity"></activity>
        <activity android:name=".profilefriends.FriendsProfileActivity" />
        <activity android:name=".starttrip.ReplanTrip" />
        <activity android:name=".starttrip.ReportHazard" />
        <activity android:name=".starttrip.ForecastTripActivity" />
        <activity
            android:name=".chatmodule.ChatRoomSingle"
            android:label="@string/title_activity_chat_room_single" />
        <activity android:name=".chatmodule.ChatParentActivity" />
        <activity
            android:name=".starttrip.StartTrip"
            android:label="@string/title_activity_start_trip" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tourassistant.coderoids.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.tourassistant.PreDashBoardActivity" />
        <activity
            android:name=".plantrip.PlanTrip"
            android:label="@string/title_activity_plan_trip" />
        <activity android:name=".home.DashboardActivity" />
        <activity android:name=".auth.LoginProcessActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".services.LocationService"
            android:foregroundServiceType="location" />
        <service android:name=".services.FCMPushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.pixako.Receiver.AlarmReceiver"
            android:enabled="true" />
    </application>

</manifest>